@import "breakpoints.scss";

.Header {
  background-color: #001819;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  z-index: 100;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-inline: 30px;

  @include desktop {
    padding-inline: 84px;
  }

  @include mobile-large {
    padding-inline: 15px;
    height: 65px;
  }

  &__Logo {
    height: 100%;
    padding-block: 17px;
    flex-shrink: 0;
    min-height: 70px;
    max-width: 70px;
    width: 70px;
    display: block;
  }

  &__DesktopNav {
    display: block;

    @include mobile-large {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-between;
      gap: 28px;
    }

    li {
      padding-inline: 5px;
      cursor: pointer;
      color: #ffffff;
      font-family: Krub;
      font-size: 16px;
      line-height: 26px;
      list-style-type: none;
    }

    &Number {
      color: #ffc632;
    }

    &Separator {
      height: 27px;
      width: 1px;
      opacity: 0.4;
      background-color: #ffffff;
    }
  }

  &__Mobile {
    position: fixed;
    background-color: #001819;
    z-index: 50;
    left: 0;
    top: calc(min(-1000px, -100vh));
    min-height: 100vh;
    width: 100%;
    transition: top 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &-isActive {
      top: 0;
    }

    &Nav {
      margin-block-start: 100px;
      padding-inline: 30px;
      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        max-width: 350px;
        margin-inline: auto;
      }

      a {
        width: 100%;
      }

      li {
        padding-block: 20px;
        padding-inline: 5px;
        cursor: pointer;
        color: #ffffff;
        font-family: Krub;
        font-size: 16px;
        line-height: 26px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      &Text {
        display: block;
      }

      &Number {
        color: #ffc632;
        display: block;
      }

      &Separator {
        height: 1px;
        width: 100%;
        opacity: 0.4;
        background-color: #ffffff;
      }
    }

    &Button {
      .hamburger {
        display: none;
        scale: 0.75;

        @include mobile-large {
          display: block;
        }

        &:hover {
          opacity: 1;
        }

        &.is-active:hover {
          opacity: 1;
        }

        &-inner {
          background-color: #fff !important;

          &::after {
            background-color: inherit !important;
          }

          &::before {
            background-color: inherit !important;
          }
        }
      }
    }
  }
}
