@import 'breakpoints.scss';

.Header {
    background-color: #001819;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 84px;
    height: 104px;
    position: fixed;
    width: 100%;

    @include tablet {
        padding-inline: 30px;
    }

    &__Logo {
        height: 100%;
        padding-block: 17px;
        flex-shrink: 0;
        min-height: 70px;
        max-width: 70px;
        width: 70px;
        display: block;
    }

    &__DesktopNav {
        @include mobile-large {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 28px;
        }

        li {
            padding-inline: 5px;
            cursor: pointer;
            color: #FFFFFF;
            font-family: Krub;
            font-size: 16px;
            line-height: 26px;
            list-style-type: none;
        }
        
        &Number {
            color: #FFC632;
        }

        &Separator {
            height: 27px;
            width: 1px;
            opacity: 0.4;
            background-color: #FFFFFF;
        }
    }
}