@import "breakpoints.scss";

.Work {
  padding-block-start: 40px;
  padding-block-end: 80px;

  @include desktop {
    margin-block-end: 250px;
  }

  @include desktop-large {
    margin-block-end: 400px;
  }

  @include tablet-large {
    margin-block-end: 200px;
  }

  @include tablet {
    margin-block-end: 150px;
  }

  @include mobile-large {
    margin-block-end: 100px;
  }

  margin-block-end: 100px;

  position: relative;

  &__Grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;

    @include desktop-large {
      grid-template-columns: repeat(3, 1fr);
    }

    @include tablet-large {
      grid-template-columns: 1fr;
      gap: 55px;
    }

    @include mobile {
      gap: 45px;
    }
  }

  &__Tile {
    $tile: &;
    width: 100%;
    max-width: 385px;
    height: 220px;
    position: relative;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-self: center;
    cursor: pointer;

    @include mobile {
      height: 200px;
    }

    @include desktop {
      &:hover {
        #{$tile}Text {
          height: 100%;
          padding-block-start: 20px;
        }
      }
    }

    &Text {
      position: absolute;
      bottom: 0;
      height: 46px;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-block-start: 12px;
      background-color: rgba(0, 0, 0, 0.7);
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
      color: #ffffff;
      font-family: Krub;
      font-size: 16px;
      font-weight: 400;
      backdrop-filter: blur(4px);
      transition-property: all;
      transition-duration: 250ms;
      padding-inline: 25px;
      letter-spacing: 0.05em;

      &Additional {
        text-align: left;
        padding-block-start: 20px;
        font-size: 15px;
        opacity: 0.95;
        line-height: 1.5em;
        letter-spacing: 0.05em;
      }
    }
  }

  &__code {
    &ImageWrapper {
      position: absolute;
      bottom: 0;
      transform: translateY(50%);
      width: 100%;
      display: flex;
      justify-content: center;
      overflow-x: hidden;

      @include mobile-large {
        transform: translateY(40%);
      }
    }

    &Image {
      width: 100%;
      min-width: 900px;
      max-width: 1920px;
      position: relative;
    }
  }
}
